//API При вызове модуля: ширина поля ,id, label, placeholder, капча(для тестов либо ''), массив значений, активно(для тестов, по ум. false) 

mixin dropdown(dropdownWidth,dropdownId,dropdownLabel,dropdownPlaceholder,dropdownCapcha,array,active)
    div(class='dropdown' id=dropdownId style={width:dropdownWidth})       
        label.label
            h3 #{dropdownLabel}
            .capcha-input=dropdownCapcha
            if active == true
                select(class='select' class='active' style={width:dropdownWidth})
                    option(value='' disablet selected hidden) #{dropdownPlaceholder}
                    each element, index in array
                        option(value=element) #{element}
            else
                select(class='select' style={width:dropdownWidth})
                    option(value='' disablet selected hidden) #{dropdownPlaceholder}
                    each element, index in array
                        option(value=element) #{element}