//API При вызове модуля: ширина поля, id, label, placeholder, капча(для тестов либо ''), значение о-умолчанию, активно(для тестов, по ум. false) 

mixin subscription(inputWidth,inputId,labelInput,placeholderInput,capchaInput,value,active)
    div(class='subscription' id=inputId style={width: inputWidth})
        label.label 
            h3=labelInput
            .capcha-input=capchaInput
            if active == true
                input.input.active(
                    type=text 
                    placeholder=placeholderInput 
                    value=value 
                    style={width: inputWidth}
                    )
            else
                input.input(
                    type=text 
                    placeholder=placeholderInput 
                    value=value 
                    style={width: inputWidth}
                    )
